* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: 10em;
}

.logo {
    position: relative;
    color: #fff;
    text-shadow: 0 0 50px rgb(255, 0, 0),
                 0 0 100px rgb(255, 0, 0),
                 0 0 150px rgb(255, 0, 0),
                 0 0 200px rgb(255, 0, 0),
                 0 0 250px rgb(255, 0, 0);
    animation: anime 5s linear infinite;

}

@keyframes anime {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: #fff;
    font-size: 3em;
    padding: 10px;
}

footer #html:hover {
    transition: 1s;
    color: #ec6231;
    
}

footer #css:hover {
    transition: 1s;
    color: #1166e8;
}